body{
  text-align: center;
  background-color: #393e46;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.banner{
  position: relative;
  max-width: 100%;
  background-color: brown;
}

.banner-text{
  position: absolute;
  left: 11rem;
  top: 5px;
}

.blockquote{
  font-size: 1.4em;
}

.center{
  padding: 0;
  margin: 0 auto;
}

.banner-img{
  width: 100%;
  height: 21rem;
}

.feature-item{
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-width: 1px;
  border-style: solid;
  border-color: #222831;
}

.feature-item:hover{
  cursor: pointer;
  color: black;
}

.feature-item img{
  max-width: 3rem;
  max-height: 3rem;
  margin: 1rem;
  transform: rotate(30deg);
}

.feature-item img:hover{
  transform: rotate(0deg);
}

.footer{
  padding: 0.5rem;
  max-height: 11rem;
  background-color: #00adb5;
}

.footer-img{
  padding: 0;
  margin: 0.1rem;
  max-height: 2.5rem;
  max-width: 3rem;
  border-radius: 20%;
}

.footer-img:hover{
  cursor: pointer;
  border-color: #00adb5;
  border-style: solid;
  border-width: medium;
}

.handwriting{
  margin-top: 1rem;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
}

hr{
  padding: 0;
  margin: 0 auto;
  margin-top: 1rem;
  border: none;
  border-top: 4px dotted;
  border-color: gray;
  width: 5%;
}

#intro-text
{
  font-family: 'Catamaran', sans-serif;
  font-size: 1.3rem;
}

.job-description{
  font-size: 1rem;
  font-weight: lighter;
}

nav{
  position: relative;
  display: inline-block;
  min-width: 15rem;
  height: 100rem;
}

.nav-bar{
  background-color: #222831;
  text-align: center;
  height: 50rem;
  position: fixed;
  padding-top: 1rem;
  min-width: 15rem;
}

.profile-img{
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.quote-start{
  width: 3rem;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 4rem;
  font-style: italic;
  display: inline-block;
}

.quote-end{
  width: 3rem;
  padding-top: 1rem;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 4rem;
  font-style: italic;
  transform: rotate(180deg);
  display: inline-block;
}

.skill-key img{
  max-height: 25rem;
  max-width: 35rem;
}

.star{
  color: gold;
}

.work-date{
  color: gray;
  font-size: 1rem;
}
